@charset "UTF-8";
 body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            margin: 0;
            padding: 0;
            
        }
		#menu {
	background: #004170;
	color: darkblue;
	padding: 10px;
	margin: 0px
}

#menu a {
	text-decoration: none;
	color: white;
	padding: 0px;
}
        .container {
            width: 80%;
            margin: 30px auto;
            background-color: #fff;
            padding: 20px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        h1 {
            text-align: center;
        }

        .form-section {
           margin: 50px;
            padding: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        label {
            display: block;
            margin: 5px 0;
            font-weight: bold;
        }

        input[type="text"],
        input[type="email"],
        input[type="tel"],
        input[type="number"],
        textarea {
            width: 100%;
            padding: 10px;
            margin: 5px 0;
            border: 1px solid #ccc;
            border-radius: 4px;
        }

        .form-group {
            display: flex;
            justify-content: space-between;
        }

        .form-group .half-width {
            width: 48%;
        }

        .order-summary {
            margin-top: 30px;
            border-top: 2px solid #ccc;
            padding-top: 20px;
        }

        .order-summary table {
            width: 100%;
            margin-top: 10px;
            border-collapse: collapse;
        }

        .order-summary th,
        .order-summary td {
            padding: 10px;
            text-align: left;
        }

        .order-summary th {
            background-color: #f7f7f7;
        }

        .payment-method {
            margin-top: 20px;
        }

        .payment-method input[type="radio"] {
            margin-right: 10px;
        }

        .checkout-btn {
            background-color: #4CAF50;
            color: white;
            padding: 15px 30px;
            text-align: center;
            width: 100%;
            font-size: 18px;
            cursor: pointer;
            border: none;
            border-radius: 4px;
        }

        .checkout-btn:hover {
            background-color: #45a049;
        }